## **ONE SAMPLE - ONE TAIL **
An outbreak of salmonella relatted illness was attributed to ice cream production at certain factory. Scientist measured the level of salmonella in 9 randomly sampled batches of ice cream. The level in MPN/g were
0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418
Is there evidence that the mean level of salmonella in the ice cream is greater than 0.3 MPN/g?

In [ ]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

H0:<=0.3
Ha:>0.3

In [ ]:
data =pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])

In [ ]:
#this gives two tail test p value to get for one tail divide it by 2
p=stats.ttest_1samp(data,0.3)[1]

In [ ]:
p_value=p/2

In [ ]:
p_value #its less than alpha, reject null hyphotesis

0.029265164842448826

## **TWO SAMPLE T TEST**
6 subject ware given a drag (tretment group) and an additional 6 subject a placebo (control group). There reaction time to a stimulus was measured (in ms). we want to perform a teo-sample t-test for comparing the means of the treatment and control groups.

control: 91,87,99,77,88,91
treat: 101,110,103,93,99,104

In [ ]:
control=pd.Series([91,87,99,77,88,91])
treat=pd.Series([101,110,103,93,99,104])

Lets the Mu1 be the mean of the polpulation treated and Mu2 is the population untreated

H0: Mu1-Mu2=0
Ha: Mu1-Mu2!=0

In [ ]:
stats.ttest_ind(control,treat)[1]

0.006272124350809803

p value < alpha :. reject null hypothesis.

## **PROPORTION T TEST**
Use case: is there a significant difference between the population proportions of state1 and state2 who report that they have been placed immediately after education?

populations: all student who have complited graduation and post graduation in both states

parameter of interest:p1-p2, where p1=state1 and p2= state2

date: 247 student from state1. 36.8% of student report that they have got the job.

308 student from state2 . 38.9% of student report that they have got the job.

HYPOTHESIS DEFINATION:
Null Hypothesis: p1-p2=0
Alternate Hypothesis: p1-p2!=0

In [ ]:
#Data
n1=247
p1=0.37

In [ ]:
n2=308
p2=0.39

In [ ]:
population1= np.random.binomial(1,p1,n1)
population2= np.random.binomial(1,p2,n2)

In [ ]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1,population2)

(-1.4573921004543484, 0.14557578598686652, 553.0)

In [ ]:
# p value > alpha :. fail to reject null hypothesis